<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>className</key>
		<string>CLOneViewController</string>
		<key>Image</key>
		<string>index_shiti</string>
		<key>title</key>
		<string>人脸识别</string>
	</dict>
	<dict>
		<key>className</key>
		<string>CLOneViewController</string>
		<key>Image</key>
		<string>index_yingyong</string>
		<key>title</key>
		<string>行人检测</string>
	</dict>
	<dict>
		<key>className</key>
		<string>CLOneViewController</string>
		<key>Image</key>
		<string>index_pvideo</string>
		<key>title</key>
		<string>图像处理</string>
	</dict>
	<dict>
		<key>className</key>
		<string>CLOneViewController</string>
		<key>Image</key>
		<string>index_xunlian</string>
		<key>title</key>
		<string>目标跟踪</string>
	</dict>
	<dict>
		<key>className</key>
		<string>CLOneViewController</string>
		<key>Image</key>
		<string>index_shijuan</string>
		<key>title</key>
		<string>手势识别</string>
	</dict>
	<dict>
		<key>className</key>
		<string>CLOneViewController</string>
		<key>Image</key>
		<string>index_discussion</string>
		<key>title</key>
		<string>物体识别</string>
	</dict>
</array>
</plist>
