<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DemoHighlights.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3C5EF5FE1FD592AD00C2DF5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C5EF6171FD592AE00C2DF5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C5EF6221FD592AE00C2DF5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
